.card {
  width: 70%;
  height: 80%;
  display: flex;
  padding: 0.5em;
  margin-top: 2.2em;
  position: relative;
  align-items: center;
  border-radius: 0.7em;
  flex-direction: column;
  background-color: var(--blue);
  box-shadow: 6px 7px 5px -4px rgba(34, 35, 38, 0.13),
    -6px 7px 25px -5px rgba(40, 38, 39, 0.37);
}
.card-text {
  width: 95%;
  height: 20%;
  margin: 0.2em;
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
}
.card-text > p {
  width: 80%;
  height: 3em;
  display: flex;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 1em;
  font-style: normal;
  color: var(--white);
  align-items: center;
  justify-content: center;
  font-family: var(--Roboto);
  background-color: var(--ligthBlue);
}
.card-text > p:hover {
  border: solid 3px var(--green);
}
.card-title {
  width: 100%;
  height: 10%;
  display: flex;
  margin: 0.5em;
  align-items: center;
  justify-content: center;
}
.card-title > span {
  cursor: default;
  font-size: 1.6rem;
  font-weight: bolder;
  white-space: nowrap;
  color: var(--white);
  font-family: var(--Roboto);
}
.cardQuest {
  width: 100%;
  height: 100%;
}
.cardQuest > p {
  width: 80%;
  height: auto;
  margin: 0 auto;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.3em;
  font-size: 1rem;
  border-radius: 1em;
  margin-bottom: 0.5em;
  text-align: justify;
  color: var(--white);
  font-family: var(--Roboto);
  border: solid 3px transparent;
  background-color: var(--ligthBlue);
}
.cardQuest > p:hover {
  border: solid 3px var(--green);
}
.card-title-justify {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.7em;
  flex-direction: column;
  justify-content: center;
}
.card-title-justify > p {
  width: 80%;
  height: 3em;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1rem;
  text-align: justify;
  color: var(--white);
  margin-bottom: 0.5em;
  border-radius: 0.7em;
  font-family: var(--Roboto);
  border: solid 3px transparent;
  background-color: var(--ligthBlue);
}
.card-title-justify > p:hover {
  border: solid 3px var(--green);
}

@media screen and (max-width: 800px) {
  .card {
    width: 95%;
    height: 85%;
  }
  .card-text > p {
    width: 100%;
    font-size: 0.8rem;
  }
  .cardQuest > p {
    width: 90%;
    font-size: 0.8rem;
  }
  .card-title > span {
    font-size: 1.4rem;
  }
  .card-title-justify > p {
    width: 100%;
    height: 4em;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .card-title > span {
    font-size: 1.2rem;
  }
  .card-text > p {
    width: 100%;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 420px) {
  .cardQuest > p {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 380px) {
  .cardQuest > p {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 340px) {
  .cardQuest > p {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 320px) {
  .cardQuest > p {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 290px) {
  .cardQuest > p {
    width: 100%;
    height: 5em;
    font-size: 0.5rem;
  }
}
