*{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    line-height: 1;
    list-style: none;
    box-shadow: none;
    font-size: 1.4rem;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    /* Cores de campos, bordas e linhas */
    --blue:#04ADBF;
    --grey: #EFEBEB;
    --white: #FFFFFF;
    --green: #9DF4CE;
    --whiteDark: #F0F0F0;
    --WhiteGrey: #F3F3F3;
    --ligthBlue: #6CC1C1;
    --red: rgb(255, 164, 164);

    /* Fontes */
    --Roboto: 'Roboto', sans-serif;
    --Alfa-Slad-One: 'Alfa Slab One', cursive;
}
#root{
    width: 100vw;
    height: 100vh;
    background-color: var(--whiteDark);
}